#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.lista {
  background-color: rgb(162, 241, 215);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.n{
  font-weight: bold;
  font-style: italic;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
